{% extends 'base.html' %}
{% load md_filter %}
{% block content %}
<body>
    <div id="title" style="margin : 2% 1% 0% 5%">
            <h1>RCDB</h1>
    </div>

    <div id="export-buttons" class="visible" style="margin: 0% 0% 1% 5%">
        <button id="export-csv" class="btn size-medium bg-blue text-black shadow hover-moveup">
        Export csv file
        </button>
    </div> 

    <div id="notice" style="margin : 1% 1% 2% 5%">
        *시료의 무게가 기재되어있지 않은 경우 0으로 표기됩니다.<br>
        *LabID가 기재되어있지 않은 경우 NULL로 표기됩니다.
    </div>
        
    <div id="example" style="margin:0% 5% 5% 5%">      
        <script>
            let getList = [];
            let rabelList = ['id', 'Name','State','City', 'Site', 'Material', 'Weight_g', 'Laboratory', 'LabID', 'Age_BP', 'Error', 'Report' ];
            var rcdbs = JSON.parse("{{rcdbsJson|escapejs}}");
            for (let i =0; i<rcdbs.length;i++){
                getList.push([
                rcdbs[i].id, 
                rcdbs[i].Name,
                rcdbs[i].State,
                rcdbs[i].City,
                rcdbs[i].Site,
                rcdbs[i].Material,
                rcdbs[i].Weight_g,
                rcdbs[i].Laboratory,
                rcdbs[i].LabID,
                rcdbs[i].Age_BP,
                rcdbs[i].Error,
                rcdbs[i].Report
                ])
            };

            var container = document.getElementById('example');
            document.getElementById("example").style.fontSize = '10pt';
            var hot = new Handsontable(container, {
              data: getList,
              rowHeaders: true,
              colHeaders: true,
              filters: true,
              dropdownMenu: true,
              licenseKey: 'non-commercial-and-evaluation',
              colHeaders: rabelList

            });
            document.getElementById("export-csv").addEventListener("click", function(event) { 
                hot.getPlugin("exportFile").downloadFile("csv", {filename: "rcdb", columnHeaders: true});
                
                })
        </script>
    </div>
</body>
{% endblock %}
