{% extends 'base.html' %}
{% load md_filter %}
{% block content %}
    <script type="text/javascript">
        $.ajax({
            url: "{% url 'rcdb' %}",
            dataType: "json",
            success: function (data) {
                var rcdb_view = "";
                for (var i = 0; i < data.length; i++) {
                    rcdb_view += "<tr>";
                    rcdb_view += "<td>" + data[i].fields.Name + "</td>"
                }
                $('[id="rcdb_view"]').html(rcdb_view)
            },
            error: function (request, status, error) {
                console.log()
            }
        })
    </script>
{% endblock %}