{% extends 'base.html' %}
{% load md_filter %}
{% block content %}
<div style="margin:5% 15%;">
    <center>
        <img src="https://github.com/ChanToRe/RCDB/blob/master/img/Main_test.png?raw=true"><br>
        <br>
    </center>
    <br>
    <h2>*RCDB는 PC 사용자를 대상으로 제작되었습니다.</h2>
    <br>
    -&gt; RCDB가 무엇인지 궁금하다면, <a href="http://54.180.34.120/info">Info</a>를 클릭하세요.<br>
    <br>
    -&gt; RCDB의 공지를 확인하고 싶다면, <a href="http://54.180.34.120/notice">Notice</a>를 클릭하세요.<br>
    <br>
    -&gt; RCDB를 사용하고 싶다면, <a href="http://54.180.34.120/rcdb">RCDB</a>를 클릭하세요.
</div>
{% endblock %}
