{% extends 'base.html' %}
{% load md_filter %}
{% block content %}

<style>
    #main-contents {
        margin:5% 15%;
    }
</style>

<div id ="main-contents">
    <center>
        <img src="https://github.com/ChanToRe/RCDB/blob/master/img/Main.png?raw=true"><br>
        <br>
    </center>
    <br>
    <h2>RCDB는 PC 사용자를 대상으로 제작되었습니다.</h2>
    <br>
    <p>&#10145; RCDB가 무엇인지 궁금하다면, <a href="http://rcdb.kr/info">Info</a>를 클릭하세요.</p>
    <p>&#10145; RCDB의 공지를 확인하고 싶다면, <a href="http://rcdb.kr/notice">Notice</a>를 클릭하세요.</p>
    <p>&#10145; RCDB를 사용하고 싶다면, <a href="http://rcdb.kr/rcdb">RCDB</a>를 클릭하세요.</p>
</div>
{% endblock %}
