<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <title>RCDB</title>
</head>

<body>
{% include "navbar.html" %}
<div id="info-contents">
    <center><img src="https://github.com/ChanToRe/RCDB/blob/master/img/Info_IMG.png?raw=true"></center>
    <br>
    <br>
    <h2>Introduction</h2>
    &nbsp;<b>RCDB</b>는 방사성탄소연대 측정치에 보다 편리하게 접근하고자 고안되었습니다.
    &nbsp;공공데이터의 성격이 짙은 방사성탄소연대 측정치를 여러 연구자가 편히 접근할 수 있도록 하나의 데이터베이스로 만들어 공유하고자 합니다.
    &nbsp;앞으로 꾸준히 업데이트하여 국내에서 이루어진 모든 측정치를 데이터베이스에 업로드할 것입니다.
    &nbsp;감사합니다. :)
    <hr>

    <h2>Team</h2>
    <h3>Ju chanhyeok</h3>
    <ul>
        <li>팀장</li>
        <li>동국대학교 경주캠퍼스 고고미술사학과</li>
        <li>Back-End / 총 기획</li>
        <li>Web : <a href="https://chantore.github.io">https://chantore.github.io</a></li>
        <li>E-mail : <a href="&#109;&#97;&#x69;&#x6c;&#x74;&#111;&#x3a;&#119;&#x6e;&#114;&#110;&#114;&#120;&#108;&#x61;&#x40;&#103;&#109;&#97;&#105;&#108;&#x2e;&#99;&#x6f;&#x6d;">&#119;&#x6e;&#114;&#110;&#114;&#120;&#108;&#x61;&#x40;&#103;&#109;&#97;&#105;&#108;&#x2e;&#99;&#x6f;&#x6d;</a><br></li>
    </ul>
    <br>
    <h3>Kim jihun</h3>
    <ul>
        <li>팀원</li>
        <li>한국산업기술대학교 컴퓨터공학부 소프트웨어전공</li>
        <li>Front-End</li>
        <li>E-mail : <a href="&#x6d;&#97;&#x69;&#108;&#116;&#111;&#58;&#x74;&#111;&#111;&#x6e;&#105;&#118;&#49;&#x32;&#51;&#x40;&#107;&#112;&#x75;&#46;&#97;&#99;&#46;&#x6b;&#114;">&#x74;&#111;&#111;&#x6e;&#105;&#118;&#49;&#x32;&#51;&#x40;&#107;&#112;&#x75;&#46;&#97;&#99;&#46;&#x6b;&#114;</a></li>
    </ul>
    <br>
    <h3>Jung sueun</h3>
    <ul>
        <li>팀원</li>
        <li>홍익대학교 미술사학과 석사과정</li>
        <li>Design</li>
        <li>E-mail : <a href="&#x6d;&#97;&#105;&#x6c;&#x74;&#111;&#58;&#116;&#110;&#100;&#109;&#115;&#x34;&#48;&#50;&#x40;&#x6e;&#x61;&#x76;&#101;&#x72;&#46;&#x63;&#111;&#109;">&#116;&#110;&#100;&#109;&#115;&#x34;&#48;&#50;&#x40;&#x6e;&#x61;&#x76;&#101;&#x72;&#46;&#x63;&#111;&#109;</a></li>
    </ul>
    <hr>

    <h2>Tech Stack</h2>
    <img id="techstack" alt="AWS" src="https://img.shields.io/badge/AWS-%23FF9900.svg?style=for-the-badge&logo=amazon-aws&logoColor=white"/> <img id="techstack" alt="Bootstrap" src="https://img.shields.io/badge/bootstrap-%23563D7C.svg?style=for-the-badge&logo=bootstrap&logoColor=white"/> <img id="techstack" alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white"/> <img id="techstack" alt="Django" src="https://img.shields.io/badge/django-%23092E20.svg?style=for-the-badge&logo=django&logoColor=white"/>
    <br>
    <img id="techstack" alt="Git" src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&logo=git&logoColor=white"/> <img id="techstack" alt="GitHub" src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"/> <img id="techstack" alt="Handsontable" src="https://img.shields.io/badge/Handsontable-%2343853D.svg?style=for-the-badge&logo=node-dot-js&logoColor=white"/> <img id="techstack" alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white"/>
    <br>
    <img id="techstack" alt="JavaScript" src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E"/> <img id="techstack" alt="Nginx" src="https://img.shields.io/badge/nginx-%23009639.svg?style=for-the-badge&logo=nginx&logoColor=white"/> <img id="techstack" alt="Python" src="https://img.shields.io/badge/python-%2314354C.svg?style=for-the-badge&logo=python&logoColor=white"/> <img id="techstack" alt="SQLite" src ="https://img.shields.io/badge/sqlite-%2307405e.svg?style=for-the-badge&logo=sqlite&logoColor=white"/></p>
</div>
{% include "footer.html" %}
</body>
</html>
