{% extends 'base.html' %}
{% load md_filter %}
{% block content %}
<div style="margin:5% 15%;">
    <center><img src="https://github.com/ChanToRe/RCDB/blob/master/img/Main.png?raw=true"></center>
    <br>
    <br>
    <h2 style="padding-bottom: 5px;">Introduction</h2>
      1950년, Willard Libby(1908~1980)가 방사성-탄소연대 측정법을 개발했고, 1960년에는 방사성-탄소연대 측정법으로 노벨화학상을 수상했습니다.<br><br>
      이후 고고학, 지질학과 같은 수많은 분야에서 방사성-탄소연대측정법이 활용되기 시작했고, 수륜연대보정이나 AMS 등을 통해 연대의 정확도와 활용도를 높힐 수 있었습니다.<br><br>
      특히, 대한민국의 경우 방사성-탄소연대 데이터의 밀도가 다른 국가에 비해 월등히 높아서 더욱 큰 효용성과 잠재력을 지니고 있습니다.<br><br>
      하지만 지금까지 통일된 데이터베이스가 부재하여 수많은 발굴조사보고서, 논문 등에서 데이터를 찾아야 했습니다.<br><br>
      때문에 우리는 연구자들의 편의를 도모하고, 방사성-탄소연대에 대한 접근성을 높이고자 RCDB를 구축했습니다.<br><br>
      사용자 여러분의 연구에 RCDB가 도움이 되기를 기원합니다.
    <hr>

    <h2>Team</h2>
      <h3>Ju chanhyeok</h3>

        <ul>
          <li>팀장</li>
          <li>동국대학교 경주캠퍼스 고고미술사학과</li>
          <li>Back-End / 총 기획</li>
          <li>Web : <a href="https://chantore.github.io">https://chantore.github.io</a></li>
          <li>E-mail : <a href="&#109;&#97;&#x69;&#x6c;&#x74;&#111;&#x3a;&#119;&#x6e;&#114;&#110;&#114;&#120;&#108;&#x61;&#x40;&#103;&#109;&#97;&#105;&#108;&#x2e;&#99;&#x6f;&#x6d;">&#119;&#x6e;&#114;&#110;&#114;&#120;&#108;&#x61;&#x40;&#103;&#109;&#97;&#105;&#108;&#x2e;&#99;&#x6f;&#x6d;</a>
           <br>
          </li>
        </ul>
        <br>
      <h3>Kim jihun</h3>
        <ul>
          <li>팀원</li>
          <li>한국산업기술대학교 컴퓨터공학부 소프트웨어전공</li>
         <li>Front-End</li>
         <li>E-mail : <a href="&#x6d;&#97;&#x69;&#108;&#116;&#111;&#58;&#x74;&#111;&#111;&#x6e;&#105;&#118;&#49;&#x32;&#51;&#x40;&#107;&#112;&#x75;&#46;&#97;&#99;&#46;&#x6b;&#114;">&#x74;&#111;&#111;&#x6e;&#105;&#118;&#49;&#x32;&#51;&#x40;&#107;&#112;&#x75;&#46;&#97;&#99;&#46;&#x6b;&#114;</a>
          </li>
        </ul>
    <hr>

    <h2>Tech Stack</h2>
      <img style="padding: 5px;" alt="AWS" src="https://img.shields.io/badge/AWS-%23FF9900.svg?style=for-the-badge&logo=amazon-aws&logoColor=white"/> <img style="padding: 5px;" alt="Bootstrap" src="https://img.shields.io/badge/bootstrap-%23563D7C.svg?style=for-the-badge&logo=bootstrap&logoColor=white"/> <img style="padding: 5px;" alt="CSS3" src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white"/> <img alt="Django" src="https://img.shields.io/badge/django-%23092E20.svg?style=for-the-badge&logo=django&logoColor=white"/>
      <br>
      <img style="padding: 5px;" alt="Git" src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&logo=git&logoColor=white"/> <img style="padding: 5px;" alt="GitHub" src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"/> <img style="padding: 5px;" alt="Handsontable" src="https://img.shields.io/badge/Handsontable-%2343853D.svg?style=for-the-badge&logo=node-dot-js&logoColor=white"/> <img alt="HTML5" src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white"/>
      <br>
      <img style="padding: 5px;" alt="JavaScript" src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E"/> <img style="padding: 5px;" alt="Nginx" src="https://img.shields.io/badge/nginx-%23009639.svg?style=for-the-badge&logo=nginx&logoColor=white"/> <img style="padding: 5px;" alt="Python" src="https://img.shields.io/badge/python-%2314354C.svg?style=for-the-badge&logo=python&logoColor=white"/> <img alt="SQLite" src ="https://img.shields.io/badge/sqlite-%2307405e.svg?style=for-the-badge&logo=sqlite&logoColor=white"/></p>
    
</div>
{% endblock %}