<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <title>RCDB 502</title>
</head>

<style>
    #error-title {
        font: bold;
        text-align: center;
        margin-top: 5%;
        font-size: 40pt;
    }

    #error-middle-contents {
        text-align: center;
        font-size: 15pt;
    }

    #error-contents {
        text-align: center;
        font-size: 12pt;

    }
</style>

<body>
{% include "navbar.html" %}

<div id="error-title">502 Bad Gateway</div>
<div id="error-middle-contents">요청하신 페이지를 찾을 수 없습니다.</div><br>
<div id="error-contents">
    <ul>서버에 문제가 생겼습니다.<br>
        잠시 후 다시 접속해주세요.<br>
    </ul>
</div>

{% include "footer.html" %}
</body>
</html>