<style>
    #footer {
        position:relative;
        left:0;
        bottom:0;
        width:100%;
        padding:15px 0;
        text-align:center;
        background:#F1F2F4;
    }

    #footer-contents {
        margin-top:2rem;
        margin-bottom:2rem;
        font-size:9pt;
    }
</style>

<div id="footer">
    <div id="footer-contents">
        <footer>
            <a href="mailto:rcdb2021@gmail.com"><img src="https://github.com/ChanToRe/RCDB/blob/master/img/gmail.ico?raw=true"></a>
            <a href="https://github.com/team-RCDB"><img src="https://github.com/ChanToRe/RCDB/blob/master/img/github.ico?raw=true"></a>
            <br>
            <br>
            <span>© 2021. RCDB. All rights reserved</span>
        </footer>
    </div>
</div>